@using System.Web.Optimization;

@{ 
	// see if user is currently logged in 
	GCRBA.Models.User currentUser = new GCRBA.Models.User();
	currentUser = currentUser.GetUserSession();
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
	<script src="https://kit.fontawesome.com/12cd627259.js" crossorigin="anonymous"></script>
    <!-- this is the style sheet to be used -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.css")
</head>
<body>
	<div id="site-header">
		<!--<i id="site-icon" class="fas fa-user-music"></i>-->
		<img id="site-icon" src="~/Content/Photos/GCRBAlogo.jpg" />
		<span class="full-content">GCRBA Bakers Website</span>
		<span class="mobile-content">GCRBA <i class="fas fa-music"></i></span>
	</div>

	<div class="topcorner">

		@if (!currentUser.IsAuthenticated) {
			<a href="~/Profile/Login"><button class="button-action" id="icon-bar-login" title="Login/Become a user">Login | Join <i class="fas fa-user-circle"></i></button></a>
			<a href="~/User/AddNewMember"><button class="button-action" id="icon-bar-join" title="Join GCRBA"> Become a Member! <i class="fas fa-user-plus"></i></button></a>
			<a href="~/Profile/AdminLogin"><button class="button-action" id="icon-bar-admin" title="Admin Login">Admin Login <i class="fas fa-sign-in-alt"></i></button></a>
		}
		else {
			if (currentUser.isMember == 1 && currentUser.isAdmin == 0) {
				<a href="~/Profile/Member"><button class="button-action" id="icon-bar-login" title="Member Portal">Member Portal <i class="fas fa-user-circle"></i></button></a>
			}
			else if (currentUser.isMember == 0 && currentUser.isAdmin == 0) {
				<a href="~/User/AddNewMember"><button class="button-action" id="icon-bar-join" title="Join GCRBA"> Join the GCRBA! <i class="fas fa-user-plus"></i></button></a>
			}
			else if (currentUser.isAdmin == 1) {
				<a  href="~/Profile/Member"><button class="button-action" id="icon-bar-login" title="Member Portal">Member Portal <i class="fas fa-user-circle"></i></button></a>
				<a href="@Url.Action("Index", "AdminPortal")"><button class="button-action" id="icon-bar-login" title="Member Portal">Admin Portal <i class="fas fa-user-circle"></i></button></a>
			}
			<a href="@Url.Action("Logout", "Profile")"><button class="button-action" id="icon-bar-admin" title="Logout">Logout <i class="fa-solid fa-right-from-bracket"></i></button></a>
		}

	</div>

	<div class="icon-bar">
		<a id="icon-bar-home" href="~/Home/Index" title="Go to Home"><i class="fa fa-home"></i></a>
		<a id="icon-bar-bakery" href="~/Bakery/Index" title="Find a Bakery"><i class="fa-solid fa-magnifying-glass"></i></a>
		<a id="icon-bar-vendor" href="~/Vendor/Index" title="Connect with Vendors"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
		<a id="icon-bar-education" href="~/Education/Index" title="Learning Portal"><i class="fa-solid fa-user-graduate"></i></a>
	</div>
	<div class="container text-center">
		<!-- all code in every cshtml page is run through this div -->
		@RenderBody()
	</div>

	@RenderSection("Scripts", required: false)
</body>
</html>
