@using GCRBA.ViewModels
@model ProfileViewModel

@using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "mx-auto w-50" }))
{
	<div>
		<div>
			@Html.LabelFor(m => m.User.FirstName, "First Name", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.FirstName, new { @class = "form-control", @autofocus = "autofocus" })
		</div>
		<div>
			@Html.LabelFor(m => m.User.LastName, "Last Name", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.LastName, new { @class = "form-control" })
		</div>
		<div>
			@Html.LabelFor(m => m.User.Address, "Address", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.Address, new { @class = "form-control" })
		</div>
		<div>
			@Html.LabelFor(m => m.User.City, "City", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.City, new { @class = "form-control" })
		</div>
		<div>
			<label for="states" class="form-label">State</label>
			<select name="states" class="form-control">
				@foreach (var state in Model.States)
				{
					if (Model.User.intState >= 0)
					{
						if (state.intStateID == Model.User.intState)
						{
							<option value="@state.intStateID" selected>@state.strState</option>
						} 
						else
						{
							<option value="@state.intStateID">@state.strState</option>
						}
					}
				}
			</select>
		</div>
		<div>
			@Html.LabelFor(m => m.User.Zip, "Zip Code", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.Zip, new { @class = "form-control" })
		</div>
		<div>
			@Html.LabelFor(m => m.User.Phone, "Phone Number", new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.Phone, new { @class = "form-control" })
		</div>
		<div>
			@Html.LabelFor(m => m.User.Email, new { @class = "form-label" })
			@Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @type = "email" })
		</div>

		<button name="btnSubmit" value="submit" class="mt-2 mb-2">Update</button>
		<button name="btnSubmit" value="cancel" class="mt-2 mb-2">Cancel</button>
	</div>
}
