@using GCRBA.ViewModels
@model ProfileViewModel

@{
	ViewBag.Title = "Delete Location";
}

@if (Model.User.isMember == 0)
{
	@Html.Partial("MemberOnly");
} else
{
	if (Model.Location.ActionType == GCRBA.Models.Location.ActionTypes.DeleteSuccessful)
	{
		<p>Location successfully removed.</p>
	}

	<h2 class="mt-2">@ViewBag.Title</h2>

	<div class="container w-50 p-4">
		@using (Html.BeginForm(FormMethod.Post))
		{
			if (Model.Locations.Count > 0)
			{
				<label for="locations" class="form-label">Select Location:</label>
				<select name="locations" class="form-control">
					@foreach (var item in Model.Locations)
					{
						<option value="@item.LocationID">@item.Address @item.City, @item.State @item.Zip</option>
					}
				</select>

				<button name="btnSubmit" value="delete" class="button-action mt-3">Delete Location</button>
			} else
			{
				<p>There are currently no locations associated with this company.</p>
			}
		}
	</div>
}