@model GCRBA.Models.User

@{
	ViewBag.Title = "Modify Password";
}

<!--if user is authenticated, they're already logged in, so don't show log in interface again-->


@using (Html.BeginForm(FormMethod.Post)) {
		<div class="container col-md-4">
			<h2 class="mt-5">@ViewBag.Title</h2>
			<input type="hidden" value=@Model.strEncryptedUID name="encryptedUID" />

			@if (Model.ActionType == GCRBA.Models.User.ActionTypes.PasswordMismatch) {
				<div class="login-error">
					<i class="fa-solid fa-triangle-exclamation fa-xl"></i>
					Passwords did not match!
				</div>
			}

			@if (Model.ActionType == GCRBA.Models.User.ActionTypes.UpdateFailed) {
				<div class="login-error">
					<i class="fa-solid fa-triangle-exclamation fa-xl"></i>
					We're sorry, it's us -- there was an error updating your password.<br />
					Please contact admin for assistance.
				</div>
			}

			<div class="mt-5 mb-4">
				@Html.Label("Password", new { @class = "form-label" })
				@Html.TextBoxFor(model => model.strPassword, new { @type = "password", @autofocus = "autofocus", @class = "form-control" })
			</div>
			<div class="mb-4">
				@Html.Label("Confirm Password", new { @class = "form-label" })
				@Html.TextBoxFor(model => model.strConfirmPassword, new { @type = "password", @class = "form-control" })
			</div>
			<div class="mb-3">
				<button id="btSubmit" name="btnSubmit" value="submit" class="button-action">Submit</button>
			</div>
		</div>
}
