@model GCRBA.Models.User
@{
    ViewBag.Title = "User Form";
}
<!---->

<style>
    td{
        text-align:center;
    }
</style>

<div class="some-spacing" id="site-banner">
<h2>@ViewBag.Title</h2>
</div>

@using (Html.BeginForm(FormMethod.Post))
{

    //if the action type is the missing fields then execute the warning
    if (Model.ActionType == GCRBA.Models.User.ActionTypes.Unknown)
    {
        <div id="content-locked">
            <i class="fad fa-exclamation-trangle fa-2x"></i>
            <span>Please ensure your passwords match.</span>
        </div>
    }

    if (Model.ActionType == GCRBA.Models.User.ActionTypes.RequiredFieldMissing)
    {
        <div id="content-locked">
            <i class="fad fa-exclamation-trangle fa-2x"></i>
            <span>Please enter data in all fields.</span>
        </div>
    }


    if (Model.ActionType == GCRBA.Models.User.ActionTypes.DuplicateUsername)
    {
        <div id="content-locked">

            <i class="fad fa-exclamation-trangle fa-2x"></i>
            <span>That USER NAME has already been used. To sign up you must use a different USER NAME.</span>
        </div>
    }

    if (Model.ActionType == GCRBA.Models.User.ActionTypes.DuplicateEmail)
    {
        <div id="content-locked">

            <i class="fad fa-exclamation-trangle fa-2x"></i>
            <span>That EMAIL has already been used. To sign up you must use a different EMAIL.</span>
        </div>
    }

    <table class="some-spacing">
        <tr>
            <td>
    <div>
        <div>
            <!-- User First Name -->
            <div>
                <div>@Html.Label("First Name")</div>
                <div>
                    @Html.TextBoxFor(model => model.FirstName, new
                    {
                       @name = "FirstName",
                       @autofocus = "autofocus"
                    })
                </div>
            </div>

            <!-- User Last Name -->
            <div>
                <div>@Html.Label("Last Name")</div>
                <div>
                    @Html.TextBoxFor(model => model.LastName, new
                    {
                        @name = "LastName"
                    })
                </div>
            </div>
        </div>

        <!-- Email -->
        <div>
            <div>@Html.Label("E-mail")</div>
            <div>
                @Html.TextBoxFor(model => model.Email, new
                {
                    @name = "Email"
                })
            </div>
        </div>

        <!-- Username -->
        <div>
            <div>@Html.Label("Username")</div>
            <div>
                @Html.TextBoxFor(model => model.strUsername, new
                {
                    @Name = "Username"
                })
            </div>
        </div>
    </div>

    <!-- Password -->
    <div class="section">
        <div>@Html.Label("Password")</div>
        <div>
            @Html.TextBoxFor(model => model.strPassword, new
            {
               type = "password",
               @name = "Password"
            })
        </div>
    </div>
    </td>
    </tr>
    </table>

    <div>
        <button id="btnNewUser"
                name="btnSubmit"
                value="newuser"
                class="button-action">
            <i class="fas fa-user-plus">
            </i> Submit!
        </button>
    </div>
}

<script>
    $(document).ready(function () {
        SetActiveMenus('signup');
    });

</script>

