@using GCRBA.ViewModels
@model AdminVM

@section Scripts 
    {
        <script src="../../Scripts/gcrba.js"></script>
    }

<h2>Add Location for: @Model.Company.Name</h2>

@if (Model.User.isAdmin == 0)
{
    @Html.Partial("AdminOnly");
}
else
{
    if (Model.NewLocation.ActionType == GCRBA.Models.NewLocation.ActionTypes.InsertSuccessful) 
    {
        <p>New location successfully added.</p>
    }
<div class="container card bg-light w-50 p-4">
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "newLocationForm" }))
    {
        <div class="card-header">Add New Location</div>
        <div>
            <div>
                @Html.LabelFor(model => model.NewLocation.StreetAddress, "Address", new { @autofocus = "autofocus", @class = "form-label mt-4" })
                @Html.TextBoxFor(model => model.NewLocation.StreetAddress, new { @class = "form-control mb-4", @id = "address", @required = "required" })
            </div>
            <div>
                @Html.LabelFor(model => model.NewLocation.City, "City", new { @class = "form-label", @value = "City" })
                @Html.TextBoxFor(model => model.NewLocation.City, new { @class = "form-control mb-4", @id = "city", @required = "required" })
            </div>
            <div>
                <label for="states" class="form-label">State</label>
                <select name="states" class="form-control mb-4" id="state" required="required">
                    @foreach (var item in Model.States)
                    {
                        <option value="@item.intStateID">@item.strState</option>
                    }
                </select>
            </div>
            <div>
                @Html.LabelFor(model => model.NewLocation.Zip, "Zip Code", new { @class = "form-label", @value = "Zip Code" })
                @Html.TextBoxFor(model => model.NewLocation.Zip, new { @class = "form-control mb-4", @id = "zip", @required = "required" })
            </div>
            <div>
                @Html.LabelFor(model => model.NewLocation.strFullPhone, "Location Phone Number", new { @class = "form-label", @value = "Location Phone Number" })
                @Html.TextBoxFor(model => model.NewLocation.strFullPhone, new { @class = "form-control mb-4" })
            </div>
            <div>
                @Html.LabelFor(model => model.NewLocation.BusinessEmail, "Location Email", new { @class = "form-label", @value = "Location Email" })
                @Html.TextBoxFor(model => model.NewLocation.BusinessEmail, new { @class = "form-control mb-4", @type = "email" })
            </div>


        </div>

        <button id="addLocationSubmit" name="btnSubmit" value="addLocation">Submit</button>
        <button name="btnSubmit" value="cancel" formnovalidate>Cancel</button>

    }
</div>
}



