@using GCRBA.ViewModels
@model AdminVM

<h2>Delete Location for: @Model.Company.Name</h2>

@if (Model.User.isAdmin == 0) 
{
    @Html.Partial("AdminOnly");
} 
else 
{
    if (Model.NewLocation.ActionType == GCRBA.Models.NewLocation.ActionTypes.DeleteSuccessful) 
    {
        <p>Location successfully removed.</p>
    }

    <div class="container card bg-light w-50 p-4">
        @using (Html.BeginForm(FormMethod.Post))
                {
                    <label for="locations" class="form-label">Select Location:</label>
                    <select name="locations" class="form-control">
                        @foreach(var item in Model.Locations)
                    {
                        <option value="@item.LocationID">@item.Address @item.City, @item.State @item.Zip</option>
                    }
                    </select>
                    
                    <button name="btnSubmit" value="submit">Submit</button>
                    <button name="btnSubmit" value="cancel" formnovalidate>Cancel</button>
                }
    </div>
}

