@using GCRBA.ViewModels
@model AdminVM

@{
    ViewBag.Title = "Add/Delete Category";
}

<h2>ViewBag.Title</h2>

@if (Model.User.isAdmin == 0)
{
    @Html.Partial("AdminOnly");
}
else
{
    if (Model.Category.ActionType == GCRBA.Models.CategoryItem.ActionTypes.InsertSuccessful)
    {
        @Html.Partial("ChangeSuccessful");
    }

    if (Model.Category.ActionType == GCRBA.Models.CategoryItem.ActionTypes.DeleteSuccessful)
    {
        @Html.Partial("ChangeSuccessful");
    }

    using (Html.BeginForm(FormMethod.Post))
    {
        <div id="add">
            @if (Model.Locations.Count > 0)
            {
                @Html.Partial("Locations");
                <button name="btnSubmit" value="addCategories">Add Categories</button>
                <button name="btnSubmit" value="deleteCategories">Delete Categories</button>

                if (Model.Location.LocationID > 0)
                {
                    @Html.Partial("Categories");
                    <button name="btnSubmit" value="submit">Submit</button>
                    <button name="btnSubmit" value="cancel">Cancel</button>
                }
            }
            else
            {
                @Html.Partial("NoLocations");
                <button name="btnSubmit" value="addLocation">Add Location</button>
            }
        </div>

    }
}
