@using GCRBA.ViewModels
@model AdminVM

@if (Model.User.isAdmin == 0)
{
	@Html.Partial("AdminOnly");
} else
{
	if (Model.MemberRequest.ActionType == GCRBA.Models.MemberRequest.ActionTypes.InsertSuccessful)
	{
		@Html.Partial("UpdateSuccessful");
	}

	if (Model.MemberRequest.ActionType == GCRBA.Models.MemberRequest.ActionTypes.DeleteSuccessful)
	{
		@Html.Partial("DeleteSuccessful");
	}

	if (Model.MemberRequests.Count > 0)
	{
		using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class = "col-md-12" }))
		{
			<h2 class="mt-3">Membership Requests</h2>
			<div class="row justify-content-center">
				<select name="requests" class="form-control w-25 text-center mt-4 mb-4">
					@foreach (var request in Model.MemberRequests)
					{
						<option value="@request.MemberID">@request.FirstName @request.LastName</option>
					}
				</select>
			</div>
			<button name="btnSubmit" value="viewRequest" class="button-action">View Request</button>

			if (Model.MemberRequest != null)
			{
				if (Model.MemberRequest.MemberID > 0)
				{
					<div class="row justify-content-center">
						<table class="table w-50 mt-4">
							<tbody>
								<tr>
									<th scope="row" class="text-end">Name</th>
									<td>@Model.MemberRequest.FirstName @Model.MemberRequest.LastName</td>
								</tr>
								<tr>
									<th scope="row" class="text-end">Phone Number</th>
									<td>@Model.MemberRequest.Phone</td>
								</tr>
								<tr>
									<th scope="row" class="text-end">Email</th>
									<td>@Model.MemberRequest.Email</td>
								</tr>
								<tr>
									<th scope="row" class="text-end">Member Level</th>
									<td>@Model.MemberRequest.MemberLevel</td>
								</tr>
								<tr>
									<th scope="row" class="text-end">Payment Type</th>
									<td>@Model.MemberRequest.PaymentType</td>
								</tr>
								<tr>
									<th scope="row" class="text-end">Payment Status</th>
									<td>@Model.MemberRequest.PaymentStatus</td>
								</tr>
							</tbody>
						</table>
					</div>

					<button name="btnSubmit" value="approve" class="button-action">Approve</button>
					<button name="btnSubmit" value="deny" class="button-action">Deny</button>
				}
			}
		}

	} else
	{
		<p>There are currently no membership requests.</p>
	}
}
